.site-footer {
    @extend %padding-regular;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: lighten($text-color, 30%);

    .footer-icons {
        font-size: 0.9em;
        ul {
            list-style: none;
            li {
                display: inline;
            }
        }
    }
    .footer_cnzz {
        font-size: 0.4em;
    }
}
